*~
.idea*
.tags*
*.egg-info
*.pyc
*.pyo
.pydevproject
.spyderproject
.ipynb_checkpoints
/.coverage
/.noseids
/.project
/.settings
/.vscode
/build
/cover
/dist
/openfisca_france/assets/apl/france2014.txt
/openfisca_france/assets/apl/france2014.zip
/tags
.spyproject