*~
.tags*
*.egg-info
*.mo
*.pyc
*.pyo
.pydevproject
.spyderproject
.tags*
/.coverage
/.noseids
/.project
/.settings
/build
/cover
/dist
/openfisca_france/assets/apl/france2014.txt
/openfisca_france/assets/apl/france2014.zip
openfisca_france/model/extensions
/tags
