# Développement sur GitPod
build

.venv

*~
.idea*
.tags*
*.egg-info
*.pickle
*.pyc
*.pyo
.DS_Store
.pydevproject
.pytest_cache/*
.spyderproject
.ipynb_checkpoints
/.coverage
/.noseids
/.project
/.settings
/.vscode
.history/
/build
/cover
/dist
/openfisca_france/assets/apl/france2014.txt
/openfisca_france/assets/apl/france2014.zip
/tags
.spyproject
path_too_long_list.txt
# PyEnv local Python version
.python-version
