Adrien Fabre <fabre.adrien@hotmail.fr>
Adrien Pacifico <adrienpacifico@gmail.com>
Alexis Eidelman <alexis.eidelman.pro@gmail.com>
Christophe Benz <christophe.benz@data.gouv.fr>
Christophe Benz <christophe.benz@data.gouv.fr> <cbenz@easter-eggs.com>
Claire Bernard <clairebernard@hotmail.de>
Emmanuel Gratuze <emmanuel.gratuze@gmail.com>
Emmanuel Raviart <emmanuel@raviart.com>
Emmanuel Raviart <emmanuel@raviart.com> <eraviart@easter-eggs.com>
Jérôme Santoul <jerome.santoul@free.fr>
Laurence Bouvard <laurence.bouvard@univ-amu.fr>
Louise Paul-Delvaux <louise.paul.delvaux@gmail.com>
Malka Guillot <malkaguillot@gmail.com>
Mathias Andre <mathias.andre@ipp.eu>
Romain Soufflet <romain.soufflet@data.gouv.fr>
Romain Soufflet <romain.soufflet@data.gouv.fr> <rsoufflet@easter-eggs.com>
Romain Soufflet <romain.soufflet@data.gouv.fr> <gentux@gentop>
