---
extends: relaxed

rules:
  truthy: enable
  # Disable warning level rules to remove flood in yamllint output
  # YAML file should be modified to comply to those rules before activation
  indentation: disable
  line-length: disable
