# CircleCI 2.0 configuration file. See <https://circleci.com/docs/2.0/language-python/>.
version: 2
jobs:
  install:
    docker:
      - image: python:3.7

    steps:
      - checkout

      - restore_cache:
          key: v1-py3-deps-{{ .Branch }}-{{ checksum "setup.py" }}

      - run:
          name: Create a virtualenv
          command: |
            mkdir -p /tmp/venv/openfisca_france
            python -m venv /tmp/venv/openfisca_france
            echo "source /tmp/venv/openfisca_france/bin/activate" >> $BASH_ENV

      - run:
          name: Install dependencies
          command: make install

    # - run:
      #    name: Use a specific branch of OpenFisca-Core for testing purposes
      #    command:  pip install --editable git+https://github.com/openfisca/openfisca-core.git@BRANCH_NAME#egg=OpenFisca-Core

      - save_cache:
          key: v1-py3-deps-{{ .Branch }}-{{ checksum "setup.py" }}
          paths:
            - /tmp/venv/openfisca_france

  lint_files:
    docker:
      - image: python:3.7

    steps:
      - checkout

      - restore_cache:
          key: v1-py3-deps-{{ .Branch }}-{{ checksum "setup.py" }}

      - run:
          name: Activate virtualenv
          command: echo "source /tmp/venv/openfisca_france/bin/activate" >> $BASH_ENV

      - run: make check-syntax-errors

      - run: make check-style

      - run:
          name: Lint Python files
          command: .circleci/lint-changed-python-files.sh

      - run:
          name: Lint YAML tests
          command: .circleci/lint-changed-yaml-tests.sh

  build:
    docker:
      - image: python:3.7

    steps:
      - checkout

      - restore_cache:
          key: v1-py3-deps-{{ .Branch }}-{{ checksum "setup.py" }}

      - run:
          name: Activate virtualenv
          command: echo "source /tmp/venv/openfisca_france/bin/activate" >> $BASH_ENV

      - run:
          name: Build package
          command: make build

      - save_cache:
          key: v1-py3-deps-{{ .Branch }}-{{ checksum "setup.py" }}
          paths:
            - /tmp/venv/openfisca_france

      - save_cache:
          key: v1-py3-build-{{ .Revision }}
          paths:
            - dist

  test_python: # Python tests are separated from YAML tests, because the latter take longer. This allows Python tests to use any other available container and yield it, once finished, to another job instead of relying only on the two containers assigned to the YAML tests.
    docker:
      - image: python:3.7

    steps:
      - checkout

      - restore_cache:
          key: v1-py3-deps-{{ .Branch }}-{{ checksum "setup.py" }}

      - run:
          name: Activate virtualenv
          command: echo "source /tmp/venv/openfisca_france/bin/activate" >> $BASH_ENV

      - run:
          name: Run Python tests
          command: pytest `circleci tests glob "tests/**/[^_]*.py"`

  test_yaml:
    parallelism: 2  # Speed up the yaml tests, while letting two containers available for other jobs.
    docker:
      - image: python:3.7

    steps:
      - checkout

      - restore_cache:
          key: v1-py3-deps-{{ .Branch }}-{{ checksum "setup.py" }}

      - run:
          name: Activate virtualenv
          command: echo "source /tmp/venv/openfisca_france/bin/activate" >> $BASH_ENV

      - run:
          name: Run YAML tests
          command: openfisca test `circleci tests glob "tests/**/*.{yaml,yml}" | circleci tests split`

  test_api:
    docker:
      - image: python:3.7

    steps:
      - checkout

      - restore_cache:
          key: v1-py3-deps-{{ .Branch }}-{{ checksum "setup.py" }}

      - run:
          name: Activate virtualenv
          command: |
            echo "source /tmp/venv/openfisca_france/bin/activate" >> $BASH_ENV

      - run:
          name: Test the Web API
          command: .circleci/test-api.sh

  check_version_and_changelog:
    docker:
      - image: python:3.7

    steps:
      - checkout

      - run:
          name: Check version number has been properly updated
          command: |
            git fetch
            .circleci/is-version-number-acceptable.sh

  deploy:
    docker:
      - image: python:3.7
    environment:
      PYPI_USERNAME: openfisca-bot
      # PYPI_PASSWORD: this value is set in CircleCI's web interface; do not set it here, it is a secret!

    steps:
      - checkout

      - restore_cache:
          key: v1-py3-deps-{{ .Branch }}-{{ checksum "setup.py" }}

      - restore_cache:
          key: v1-py3-build-{{ .Revision }}

      - run:
          name: Check for functional changes
          command: if ! .circleci/has-functional-changes.sh ; then circleci step halt ; fi

      - run:
          name: Upload a Python package to Pypi
          command: |
            source /tmp/venv/openfisca_france/bin/activate
            twine upload dist/* --username $PYPI_USERNAME --password $PYPI_PASSWORD

      - run:
          name: Publish a git tag
          command: .circleci/publish-git-tag.sh

      - run:
          name: Deploy the Web API
          command: ssh -o StrictHostKeyChecking=no deploy-api@fr.openfisca.org

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - install
      - lint_files:
          requires:
            - install
      - build:
          requires:
            - install
      - test_python:
          requires:
            - build
      - test_yaml:
          requires:
             - build
      - test_api:
           requires:
             - build
      - check_version_and_changelog:
          requires:
            - lint_files
            - test_python
            - test_yaml
            - test_api
      - deploy:
          requires:
            - check_version_and_changelog
          filters:
            branches:
              only: master
